.SideBar {
    // background: #f5f5f5;
    // background: #fff; // ...
    background: #202939;
    max-width: 100%;
    width: 250px;
    // overflow: hidden;
    transition: width .3s;
    position: fixed;
    // border-right: 2px solid #eee;
    z-index: 20;
    @media (min-width: 650px) {
        &.closed{
            position: absolute;
            width: 70px;
            .logo{
                h1{
                    display: none;
                }
            }
            .navbar-parent{
                // padding-top: 15px;
                height: auto;
                overflow: visible;
                    &:hover{
                        &::-webkit-scrollbar {
                            width: 0;
                        }
                    }
                .navBar{
                    padding:0;
                    .NavSection{
                        padding: 0;
                        h5{
                            display: none;
                        }
                        ul{
                            padding: 0;
                            a{
                                width: 70px;
                                height: 50px;
                                display: grid;
                                place-content: center;
                                font-size: 21px;
                                padding: 0;
                                &:hover::after,&:hover::before{
                                    // opacity: 1;
                                    // z-index: 20;
                                    transform: scale(1);
                                }
                                &:hover::before{
                                    left: 63px;
                                }
                                h4{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 650px) {
        &{
            width: 0;
            position: fixed;
            overflow: hidden;
        &.closed{
            width: 100vw;
        }
        .logo-parent{
            .close{
                display: block !important;
            }
        }
            .logo{
                h1{
                }
            }
            .navbar-parent{
                .navBar{
                    .NavSection{
                        h5{
                        }
                        ul{
                            a{
                                h4{
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .logo-parent{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--pd);
        font-size: 30px;
        .close{
            cursor: pointer;
            display: none;
        }
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        padding-bottom: 5px;
        svg{
            width: 30px;
            height: auto;
        }
        h1{
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            // color: var(--main-color); // ....
            color: #ededed;
        }
    }
    .navbar-parent{
        
    height: calc(100vh - 60px);
    overflow-y: auto;
            /* width */
    &:hover{
        &::-webkit-scrollbar {
            width: 8px;
        }
    }
    &::-webkit-scrollbar {
        width: 0px;
        transition: all .3s;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        width: 8px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--main-color);
        border-radius: 16px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #337b58;
    }
    .navBar {
        padding: var(--pd);
    }
    }
}