.MasterCleanse{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    gap: 20px;
    .box-master{
        border: 2px solid #ddd;
        border-radius: 6px;
        padding: 20px;
        text-align: center;
        .icon{
            color: var(--main-color);
            font-size: 40px;
        }
        .number{
            font-size: 30px;
            font-weight: 600;
        }
        p{
            color: #4b5563;
        }

    }
}