.AccountPages {
    height: 100%;
    overflow: auto;
    padding: 80px 4vw 60px;
    max-width: 500px;
    margin: auto;
    transform: translateX(110%);
    opacity: 0;
    animation: account .4s ease-out forwards;
    @keyframes account {
        0% {
            transform: translateX(110%);
            opacity: 0;
        }
        60% {
            opacity: .5;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    h2{
        font-size: 28px;
    width: 100%;
    margin-bottom: 20px;
    }
    h3{
        color: var(--main-color);
        margin-bottom: 25px;
    }
    .footer-p {
        margin-top: 30px;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        a {
            display: inline-flex;
            align-items: center;
            color: var(--blue-color);
        }
    }
    h4 {
        text-align: center;
    font-size: 20px;
    }
    .icon-account {
        text-align: center;
        margin-top: 50px;
        &.success{
            svg{
                background: var(--main-color);
            }
        }
        &.danger{
            svg{
                background: var(--danger-color);
            }
        }
        svg{
            color: #fff;
            display: inline-grid;
            border-radius: 50%;
            font-size: 80px;
            margin: auto;
            text-align: center;
        }
    }
}