.Profile{
    // display: flex;
    // gap: 20px;
    // flex-wrap: wrap;
    .profile-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        .profile-section {
            margin: auto;
            &:last-child {
                flex: 1;
                max-width: 500px;
            }
        }
    }
    .avatar{
        margin: auto;
        position: relative;
        .avatar-container{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            img{
                width: inherit;
                height: inherit;
            }
        }
        .add-avatar,.delete-avatar{
            cursor: pointer;
            position: absolute;
            bottom: 40px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 30px;
            display: grid;
            place-content: center;
            color: #fff;
            box-shadow: 0px 0px 0px 3px #ffffff;
        }
        .add-avatar{
            background-color: #01796F;
            right: -12px;
            input{
                display: none;
            }
        }
        .delete-avatar{
            background-color: #ef4444;
            left: -12px;
        }
    }
}