.ProductsSection {
    .choices-section {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7019607843);
        width: 100vw;
        height: 100vh;
        z-index: 11111111111111;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        .choices-container {
            background: #fff;
    border-radius: 8px;
    width: 500px;
    margin: auto;
    max-width: 95%;
    // min-width: 300px;
    .top-choices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #0000001b;
        > h2 {
            font-weight: 600;
            font-size: 18px;
        }
        .close-btn {
            display: contents;
            font-weight: 600;
            font-size: 25px;
            cursor: pointer;
        }
    }
    .content-choices {
        padding: 20px;
        .variant{
            // display: block;
            // gap: 12px;
            // align-items: center;
            // margin-top: 25px;
            // flex: 1 1;
            // min-width: 200px;
            // background: #f5f5f5;
            // border-radius: 5px;
            // padding: 10px 15px;
            display: flex;
            gap: 10px;
            align-items: center;
            .parent-variants{
                display: flex;
                gap: 10px;
                margin: 15px 0 10px 15px;
                flex-wrap: wrap;
                span{
                    cursor: pointer;
                }
            }
            .name{
                color: var(--dark-color);
                font-weight: 600;
                font-size: 16px;
            }
            &.colorSpans{
//                       display: block;
// gap: 12px;
// align-items: center;
// margin-top: 25px;
// flex: 1 1;
// min-width: 200px;
// background: #f5f5f5;
// border-radius: 5px;
// padding: 10px 15px;
            .parent-variants{
                    // display: flex;
                    // gap: 10px;
                    // margin: 15px 0 10px 15px;
                    span{
                        // width: 25px;
                        // height: 25px;
                        // background: #374151;
                        // border-radius: 50%;
                        // border: 2px solid #d1d5db;
                        min-width: 28px;
                        padding: 0 3px;
                        height: 28px;
                        background: #374151;
                        border-radius: 50%;
                        border: 1px solid #d1d5db;
                        display: block;
                        position: relative;
                        
                        &:before {
                            border-radius: 4px;
                            content: "";
                            width: 0;
                            position: absolute;
                            left: 0;
                            bottom: -8px;
                            height: 3px;
                            background: #424242;
                            transition: all .3s;
                        }
                        &.active{
                            
                        // box-shadow: inset 0px 0px 0px 3px #fff;
                        // border: 3px dotted #fff;
                                &::before {
                                    width: 100%;
                                }
                        }
                    }
                }
            }
            &.checkBox{
                // color: red;
                .parent-variants{
                    span{
                        border: 1px solid #999;
                        min-width: 30px;
                        padding: 0 8px;
                        height: 30px;
display: grid;
align-items: center;
text-align: center;
border-radius: 5px;
color: var(--dark-color);
transition: all .3s;
                        &.active{
                            color: #fff;
                            // border-color: var(--main-color);
                            // background: var(--main-color);
                            border-color: var(--main-color);
                            background: var(--main-color);
                        }
                    }
                }
                .SelectBox{
                    margin: 0;
                }
                select{
                    width: 100px;
text-transform: uppercase;
                    option{
                        // color: red;
                    }
                }
            }
            &.dropDown {
                .parent-variants {
                    .SelectBox {
                    padding: 0;
                    }
                }
            }
        }
    }
    .prices {
        margin: 0 20px 20px 0;
    display: block;
    text-align: end;
    font-weight: bold;
    font-size: 17px;
    color: var(--dark-color);
    span {
        color: var(--main-color);
    }
    }
    .buttom-choices {
        padding: 0 20px 20px;
        display: flex;
        gap: 10px;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        div , a {
            display: block;
            padding: 14px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            border-radius: 6px;
            flex: 1;
            text-wrap: nowrap;
        }
        a {
            background: #ededed;
            color: #333;
        }
        div {
            color: #fff;
            // background: #2e6bc6;
            background: var(--main-color);
            cursor: pointer;
        }
    }
        }
    }
    .products-container{
        display: flex;
        gap: 30px;
        flex-wrap: wrap-reverse;
        .products-section {
            flex: 3 1;
            .top-products-section {
                display: none;
            }
            @media (max-width: 1024px) {
                .top-products-section {
                    display: flex;
                    font-size: 15px;
                    font-weight: bold;
                    gap: 3px;
                    padding-bottom: 25px;
                    cursor: pointer;
                }
            }
            .products-grid{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(199px, 1fr));
                gap: 20px;
                grid-auto-rows: max-content;
                @media (max-width: 600px) {
                    gap: 20px 5px;
                    grid-template-columns: 1fr 1fr;
                }
                .box-product{
                    position: relative;
                    // box-shadow: -1px -1px 2px 0px #0000000e;
                    // border: 1px solid #e9e9e97a;
                    max-width: 200px;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 10px;
                    width: -webkit-fill-available;
                    &:hover{
                        .buy {
                        transform: translateY(0);
                        }
                        .more-controlles {
                            right: 10px;
                            opacity: 1;
                        }
                        .image {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                    // span.kanba{
                    //     width: 23px;
                    //     height: 15px;
                    //     border-radius: 50%;
                    //     border: 2px solid #7f7272;
                    //     transform: rotate3d(54, 40, 1, 140deg);
                    //     position: absolute;
                    //     left: -8px;
                    //     border-color: black black transparent black;
                    //     z-index: 2;
                    //     top: -1px;
                    // }
                    // .promo{
                    //     z-index: 1;
                    // animation: aaa 2s infinite ease-in-out forwards;
                    // animation-play-state: paused;
                    // color: var(--main-color);
                    // color: #fff;
                    //     // position: absolute;
                    //     // top: 0;
                    //     // right: 0;
                    //     // background: red;
                    //     // color: #fff;
                    //     // font-weight: 600;
                    //     // width: 70px;
                    //     // height: 28px;
                    //     // display: grid;
                    //     // justify-content: center;
                    //     // align-items: center;
                    //     --main : #414141;
                    //     --main : #75815b;
                    //     --main : #dbc0a4;
                    //     --main : #2e6bc6;
                    //     position: absolute;
                    //     top: 0px;
                    //     left: 0px;
                    //     background: var(--main);
                    //     font-weight: 600;
                    //     width: 53px;
                    //     height: 34px;
                    //     display: grid;
                    //     justify-content: center;
                    //     align-items: center;
                    //     transform: rotate(60deg);
                    //     transform-origin: -2px 17px;
                    //     border-radius: 0 5px 5px 0;
                    //     // animation: aaa 2s infinite ease-in-out forwards;
                    //     top: -4px;
                    //     left: 11px;
                    //     @keyframes aaa {
                    //         0%,100%{
                    //             transform: rotate(60deg);
                    //         }
                    //            50%{
                    //             transform: rotate(100deg);
                    //            }
                    //     }
                    //     // span{
                    //     //     width: 17px;
                    //     //     height: 22px;
                    //     //     border-radius: 50%;
                    //     //     border: 2px solid #7f7272;
                    //     //     transform: rotate3d(40, 18, 1, 137deg);
                    //     //     position: absolute;
                    //     //     left: -19px;
                    //     //     border-color: black black transparent black;
                    //     //     z-index: 1111;
                    //     //     top: 5px;
                    //     // }
                    //     &::before{
                    //         // content: "";
                    //         // position: absolute;
                    //         // top: 0;
                    //         // border-width: 14px;
                    //         // border-color: transparent transparent transparent white;
                    //         // border-style: solid;
                    //         // right: 43px;
                    //         content: "";
                    //         position: absolute;
                    //         top: 5px;
                    //         border-width: 12px;
                    //         // border-color: transparent red transparent transparent;
                    //         border-style: solid;
                    //         right: 53px;
                    //         border-radius: 0px;
                    //         border-color: transparent transparent var(--main) var(--main);
                    //         border-radius: 0px 0px 0px 15px;
                    //         transform: rotate(45deg);
                    //         left: -12px;
            
                    //     }
                    //     &::after{
                    //         content: "";
                    //         position: absolute;
                    //         border: 4px solid #fff;
                    //         border-radius: 50%;
                    //         left: -6px;
                    //     }
                    // }
                    .promo{
                        --main: var(--main-color);
                        position: absolute;
                        background: var(--main);
                        font-weight: 600;
                        display: grid;
                        place-content: center;
                        top: 0px;
                        left: 0px;
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        color: #fff;
                        z-index: 1;
                    }
                    .image{
                        position: relative;
                        height: 180px;
                        display: grid;
                        place-content: center;
                        max-width: 100%;
                        // border-radius: 10px;
                        overflow: hidden;
                        img{
                            max-width: 100%;
                            max-height: 180px;
                            transition: transform .3s;
                        }
                    }
                    p{
                        color: #a5a5a5;
                        padding-top: 10px;
                        font-size: 14px;
                        text-transform: capitalize;
                        text-align: center;
                    }
                    h2{
                        color: #111827;
                        font-size: 14px;
                        font-weight: 600;
                        padding-top: 10px;
                        text-align: center;
                        text-transform: capitalize;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                    }
                    .prices{
                        font-weight: 800;
                        // color: #2e6bc6;
                        color: var(--main-color);
                        padding-top: 8px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        justify-content: center;
                        .originalPrice{
                            text-decoration: line-through;
                            color: #df8383;
                            font-size: 14px;
                            span{
                                font-size: inherit;
                            }
                        }
                        span{
                            text-transform: uppercase;
                            font-size: 13px;
                            margin-left: 2px;
                        }
                    }
                    .buy{
                        cursor: pointer;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        background: #2e6bc6;
                        background: var(--main-color);
                        color: #fff;
                        text-align: center;
                        padding: 11px;
                        font-weight: bold;
                        text-transform: uppercase;
                        opacity: .8;
                        transition: transform .3s ease;
                        transform: translateY(105%);
                        display: grid;
                        grid-auto-rows: 100%;
                        height: 40px;
                        overflow: hidden;
                        border-radius: 0 0 10px 10px;
                        &:hover {
                            opacity: 1;
                            span {
                                &:nth-child(1) {
                                    transform: translate(-50% , -250%);
                                }
                                &:nth-child(2) {
                                    transform: translate(-50% , -50%);
                                }
                            }
                        }
                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 100%;
                            transition: transform .3s ease;
                            &:nth-child(1) {
                                transform: translate(-50% , -50%);
                            }
                            &:nth-child(2) {
                                display: grid;
                                place-content: center;
                                font-size: 24px;
                                transform: translate(-50% , 250%);
                            }
                        }
                    }
                    @media (max-width: 768px) {
                        .buy{
                            transform: translateY(0);
                            width: 40px;
                            height: 40px;
                            right: 0;
                            opacity: 1;
                            border-radius: 8px;
                            font-size: 18px;
                            // width: 50px;
                            // background: #1e88e5;
                            background: var(--main-color);
                            // color: #424242;
                            // box-shadow: 0px 0px 3px rgba(99, 99, 99, 0.322);
                            border-radius: 0 0 8px 8px;
                            box-shadow: 0px 0px 3px rgba(99, 99, 99, 0.322);
                            span {
                                &:nth-child(1) {
                                    display: none;
                                }
                                &:nth-child(2) {
                                    transform: translate(-50% , -50%);
                                }
                            }
                        }
                    }
                    .more-controlles {
                        background: #fff;
                        position: absolute;
                        right: 0;
                        top: 0px;
                        z-index: 1;
                        border-radius: 4px;
                        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
                        opacity: 0;
                        transition: all .3s ease;
                        color: #424242;
                        a , span {
                            width: 50px;
                            height: 45px;
                            display: grid;
                            place-content: center;
                            font-size: 18px;
                            position: relative;
                            cursor: pointer;
                            transition: all .3s;
    
                            // &.active {
                            //     font-size: 0;
                            //     .fill {
                            //         animation: wishAnim .3s forwards;
                            //         @keyframes wishAnim {
                            //             0% {
                            //                 font-size: 0;
                            //             }
                            //             40% {
                            //                 font-size: 28px;
                            //             }
                            //             100% {
                            //                 font-size: 18px;
                            //             }
                            //         } 
                            //     }
                            // }
                            &:hover {
                                background: #edecec85;
                                &::before {
                                    padding: 8px;
                                    width: max-content;
                                    font-size: 13px;
                                }
                                &::after , &::before {
                                    opacity: 1;
                                }
                                &::after {
                                    width: 6px;
                                }
                            }
                            &::before , &::after {
                                position: absolute;
                                opacity: 0;
                                transition: opacity .3s ease;
                            }
                            &::before {
                                content: attr(data-content);
                                border-radius: 6px;
                                left: -10px;
                                top: 50%;
                                transform: translate(-100% , -50%);
                                color: #fff;
                                font-size: 0px;
                                text-wrap: nowrap;
                                background: #424242;
                                width: 0;
                                padding: 0;
                            }
                            &::after {
                                content: "";
                                left: -11px;
                                top: 50%;
                                transform: translateY(-50%);
                                background: #424242;
                                width: 0px;
                                height: 12px;
                                clip-path: polygon(0px 0%, 0px 100%, 100% 50%);
                            }
                        
                        }
                        span {
                            &.delete {
                                font-size: 35px;
                                padding: 0 !important;
                            }
                        }
                        a {
                            
                            &.fill {
                                // position: absolute;
                                // display: grid;
                                // place-content: center;
                                // width: 100%;
                                // height: 100%;
                                font-size: 0;
                                // // color: #e74c3c;
                                // color: #ff5e62;
                                animation: wishAnim .3s forwards;
                                color: inherit;
                                @keyframes wishAnim {
                                    0% {
                                        font-size: 0;
                                    }
                                    40% {
                                        font-size: 28px;
                                    }
                                    100% {
                                        font-size: 18px;
                                    }
                                } 
                            }
                        }
                    }
                    @media (max-width: 768px) {
                        .more-controlles {
                            background: none !important;
                            opacity: 1;
                            right: 0 !important;
                            box-shadow: none;
                            top: 100px;
                            span , a {
                                &:nth-child(1) {
                                    display: none;
                                }
                                &:nth-child(2) {
                                    width: 40px;
                                    height: 40px;
                                    padding: 10px;
                                    // font-size: 24px;
                                    background-color: rgb(255 255 255 / 75%);
                                    border-radius: 50%;
                                    box-shadow: 2px 0px 3px rgba(99, 99, 99, 0.322);
                                    border-radius: 8px 8px 0 0;
                                    box-shadow: 0px 0px 3px rgba(99, 99, 99, 0.322);
                                    color: inherit;
                                }
                                &::before , &::after {
                                    display: none;
                                }
                            
                            }
                        }
                    }
                }
            }
        }
        // .products-section{
        //     flex: 3;
        //     display: grid;
        //     grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
        //     gap: 30px;
        //     align-content: start;
        //     // grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
        //     // background-color: #f5f5f5;
        //     // gap: 10px;
        //     @media (max-width: 600px) {
        //         gap: 10px;
        //         grid-template-columns: 1fr 1fr;
        //     }
        //     .box-product{
        //         box-shadow: 0 0 #000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        //         padding: 20px;
        //         padding-bottom: 62px;
        //         // padding: 10px;
        //         position: relative;
        //         border-radius: 7px;
        //         background: #eeeeee2e;
        //         background-color: #fff;
        //         height: fit-content;
        //         // max-width: 350px;
        //         @media (max-width: 600px) {
        //             padding: 10px;
        //             padding-bottom: 15px;
        //         }
        //         &:hover{
        //             .promo{
        //                 // animation: aaa 2s infinite ease-in-out forwards;
        //                 animation-play-state: running;
        //             }
        //         }
        //         span.kanba{
        //             width: 23px;
        //             height: 15px;
        //             border-radius: 50%;
        //             border: 2px solid #7f7272;
        //             transform: rotate3d(54, 40, 1, 140deg);
        //             position: absolute;
        //             left: -8px;
        //             border-color: black black transparent black;
        //             z-index: 1;
        //             top: -1px;
        //         }
        //         .promo{
                    
        //         animation: aaa 2s infinite ease-in-out forwards;
        //         animation-play-state: paused;
        //         color: var(--main-color);
        //             // position: absolute;
        //             // top: 0;
        //             // right: 0;
        //             // background: red;
        //             // color: #fff;
        //             // font-weight: 600;
        //             // width: 70px;
        //             // height: 28px;
        //             // display: grid;
        //             // justify-content: center;
        //             // align-items: center;
        //             --main : #414141;
        //             --main : #75815b;
        //             --main : #dbc0a4;
        //             position: absolute;
        //             top: 0px;
        //             left: 0px;
        //             background: var(--main);
        //             font-weight: 600;
        //             width: 53px;
        //             height: 34px;
        //             display: grid;
        //             justify-content: center;
        //             align-items: center;
        //             transform: rotate(60deg);
        //             transform-origin: -2px 17px;
        //             border-radius: 0 5px 5px 0;
        //             // animation: aaa 2s infinite ease-in-out forwards;
        //             top: -4px;
        //             left: 11px;
        //             @keyframes aaa {
        //                 0%,100%{
        //                     transform: rotate(60deg);
        //                 }
        //                    50%{
        //                     transform: rotate(100deg);
        //                    }
        //             }
        //             // span{
        //             //     width: 17px;
        //             //     height: 22px;
        //             //     border-radius: 50%;
        //             //     border: 2px solid #7f7272;
        //             //     transform: rotate3d(40, 18, 1, 137deg);
        //             //     position: absolute;
        //             //     left: -19px;
        //             //     border-color: black black transparent black;
        //             //     z-index: 1111;
        //             //     top: 5px;
        //             // }
        //             &::before{
        //                 // content: "";
        //                 // position: absolute;
        //                 // top: 0;
        //                 // border-width: 14px;
        //                 // border-color: transparent transparent transparent white;
        //                 // border-style: solid;
        //                 // right: 43px;
        //                 content: "";
        //                 position: absolute;
        //                 top: 5px;
        //                 border-width: 12px;
        //                 // border-color: transparent red transparent transparent;
        //                 border-style: solid;
        //                 right: 53px;
        //                 border-radius: 0px;
        //                 border-color: transparent transparent var(--main) var(--main);
        //                 border-radius: 0px 0px 0px 15px;
        //                 transform: rotate(45deg);
        //                 left: -12px;
        
        //             }
        //             &::after{
        //                 content: "";
        //                 position: absolute;
        //                 border: 4px solid #fff;
        //                 border-radius: 50%;
        //                 left: -6px;
        //             }
        //         }
        //         .image{
        //             height: 180px;
        //     display: grid;
        //     place-content: center;
        //     max-width: 100%;
        //             img{
        //                 max-width: 100%;
        //                 max-height: 180px;
        //             }
        //         }
        //         p{
        //             color: #4b5563;
        //             padding-top: 10px;
        //             font-size: 14px;
        //             text-transform: capitalize;
        //         }
        //         h2{
        //             color: #111827;
        //             font-size: 18px;
        //             font-weight: 600;
        //             padding: 3px 0;
        //             // display: none;
        //         }
        //         .prices{
        //             font-weight: 600;
        //             color: #4b5563;
        //             padding-top: 10px;
        //             display: flex;
        //             align-items: center;
        //             gap: 10px;
        //             .originalPrice{
        //                 text-decoration: line-through;
        //                 color: #df8383;
        //                 font-size: 14px;
        //                 span{
        //                     font-size: inherit;
        //                 }
        //             }
        //             span{
        //                 text-transform: uppercase;
        //                 font-size: 13px;
        //             }
        //         }
        //         .buy{
        //             width: calc(calc(100% + 4px));
        //             height: 42px;
        //             // background-color: #dbc0a4;
        //             background-color: #414141;
        //             // background-color: #75815b;
        //             position: absolute;
        //             left: -2px;
        //             bottom: 0;
        //             border-radius: 0 0 7px 7px;
        //             display: grid;
        //             place-content: center;
        //             font-weight: bold;
        //             color: #fff;
        //             @media (max-width: 600px) {
        //                 display: none;
        //             }
        //             // display: none;
        //         }
        //     }
        // }
    }
}