.InputBox,.TextAreaBox,.SelectBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    // margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    flex: 1;
    .sub-label{
        display: flex;
        justify-content: space-between;
    }
    label{
        // color: #222;
        color: #6b7280;
        font-weight: bold;
        font-size: 15px;
        // &:after{
        //     content:" :"
        // }
        display: flex;
        .required{
            display: inline-block;
            color: red;
            font-size: 18px;
            height: 0;
        }
    }
    &.error{
        input,textarea,select{
            box-shadow: 0px 0px 0px 3px #ff3935a3 !important;
            border-color: #ef53508a;
        } 
    }
    &.mx_width{
        max-width: 500px;
    margin: auto;
    }
    &.pd-none{
        padding: 0 !important;
    }
    input,textarea,select{
        outline: none;
        border: 1px solid #c9cccf;
        padding: 10px;
        color: #222;
        border-radius: 5px;
        font-size: 15px;
        // text-transform: capitalize;
        &::placeholder{
            color: #717171c7;
    // font-weight: bold;
    // font-size: 13px ;
        }
        &:focus{
            box-shadow: 0px 0px 0px 3px #458fffba;
        }
    }
    .error-span{
        color: #EF5350;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 13px;
        font-weight: 600;
        position: relative;
        top: -5px;
    }
    input{
        
    }
    textarea{
      resize: vertical;
      height: 100px;
    }
    select{
        option{
            padding: 1px;
        }
    }
  }