.Settings{
        opacity: 1;
    .header-settings{
        margin-bottom: 30px;
        ul{
            display: flex;
            justify-content: start;
            border-bottom: 1px solid #ddd;
            overflow: auto;
            &::-webkit-scrollbar{
                height: 0;
            }
            li{
                color: #6b7280;
                transition: all .3s;
                border-bottom: 2px solid transparent;
                a{
                    color: inherit;
                    font-weight: 500;
                    font-size: 15px;
                    padding: 15px 20px;
                    display: block;
                }
                &:has(a.active){
                    border-color: #0284c7;
                    color: #0284c7;
                }
            }
        }
    }
    .main-content-settings{
        // padding: 15px;
    }
}