.AddVariants{
    .refresh-attributes{
        font-size: 30px;
    }
    .variants{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .SectionStructure{
            flex: 1;
            height: fit-content;
        }
    }
    .add-categories{
        color: #156cc1;
        cursor: pointer;
    }
    .controlls{
        margin-bottom: var(--pd);
        display: flex;
        justify-content: end;
    }
}