.Btn {
    display: block;
    text-align: center;
    background: var(--main-color);
    color: #fff;
    border: none;
    padding: 14px 25px;
    font-size: 16px;
    border: 1px solid var(--main-color);
    border-radius: 30px;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
    transition: background-color .3s;
    &.width-full{
        width: 100%;
    }
    &:disabled{
        background: #a5a4a4;
        border-color: #a5a4a4;
        font-weight: 100;
        cursor: no-drop;
    }
    &.loading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    &:not(.loading):not(:disabled), &:not(:disabled){ 
        &:hover{
            background-color: var(--main-bg);
            color: var(--main-color);
        }
    }
    .loading-circle {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        border: 4px solid;
        border-left-color: transparent;
        animation: loadingCircle .6s linear infinite;
        @keyframes loadingCircle {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}