.Cart{
    &.empty-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 90px 0;
        .title{
            font-size: 60px;
            color: #4a4141;
        }
        .message{
            font-size: 20px;
            color: #4a4141;
            margin-bottom: 20px;
        }
        a {
            --cl: #212529;
            border: 2px solid var(--cl);
            background-color: var(--cl);
            border-radius: 30px;
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            padding: 11px 18px;
            transition: all 0.3s;
            &:hover {
                background: transparent !important;
                color: var(--cl) !important;
            }
        }
    }
    .cart-container{
        margin-top: 15px;
        padding: 30px 0;
        display: flex;
        gap: 20px;
        box-shadow: 0px 5px 5px 1px #e1e1e1;
        margin: 40px;
        flex-wrap: wrap;
          @media (max-width:550px) {
                padding: 0px 0;
        margin: 40px 10px;
        }

        .shopping-cart,.order-summary{
            // box-shadow: 0px 5px 5px 1px #e1e1e1;
            // border-radius: 10px;
            padding: 35px;
                @media (max-width:550px) {
      padding: 20px;
        }
            > .head{
                display: flex;
                justify-content: space-between;
                font-weight: 500;
                font-size: 23px;
                color: var(--dark-color);
                padding: 20px 0;
                // border-bottom: 2px solid #eee;
                margin-bottom: 14px;
                .title{
    
                }
                .items{
    
                }
            }
        }
        .shopping-cart{
                flex: 2;
        border-right: 2px solid #eee;
            overflow: auto;
        min-width: 500px;
        @media (max-width:1060px) {
            border: none;
        }
            @media (max-width:550px) {
            min-width: 220px;
        }
     
            .content{
                overflow: auto;
                table{
                    // all: unset;
                    tr{
                        background: none !important;
                        &.sub-product-head{
                            .product-details{
                                align-items: initial;
                                    .image{
                                            place-content: flex-start;
                                                height: 20px;
                                    }
                            }
                            
                        td:first-child{
                            padding-bottom: 0;
                        }
                        }
    
                        &.sub-product{
                            td{
                                padding: 0;
                            }
                                
                            td:first-child{
                                padding: 0;
                                padding-left: 90px;
                                .sub-variants{
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                    .sub-image{
                                        width: 40px;
                                        height: 40px;
                                        display: grid;
                                        place-content: center;
                                        img{
                                        max-width: 40px;
                                        max-height: 40px;
                                        }
                                    }
                                }
                            }
                        }
                        border: none;
                        &:not(.sub-product){
                            border-top: 1px solid #dddddd;
                        }
                        &:first-child{
                            border:none
                        }
                        th{
                            text-align: inherit;
        font-size: 12px;
        color: #6c757d;
        text-transform: uppercase;
        
        &:first-child {
            text-align: initial !important;
        }
                        }
                        th,td{
                            padding: 16px 10px;
                            text-align: center;
                        }
                        td{
                            .product-details{
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                .image{
                                    width: 70px;
                                    height: 70px;
                                    display: grid;
                                    place-content: center;
                                    img{
                                        max-height: 70px;
                                        max-width: 70px;
                                    }
                                }
                                .info{
                                    // color:red;
                                    text-align: initial;
                                    .title{
                                        text-wrap: wrap;
                                        min-width: 140px;
                                        color: var(--dark-color);
                                        font-weight: 500;
                                    }
                                    .categorie{
                                        color: #75815b;
                                        margin: 3px 0;
                                        font-weight: 500;
                                        font-size: 13px;
                                    }
                                    .variants{
                                        // color: #9d9d9d;
                                        color: var(--main-color);
                                        font-weight: 600;
                                        text-transform: capitalize;
                                        font-size: 13px;
                                    }
                                }
                            }
                            // .quantite{
                            //     display: flex;
                            //     align-items: center;
                            //     gap: 10px;
                            //     justify-content: center;
                            //     .minus , .plus{
                            //         color: var(--dark-color);
                            //         font-size: 16px;
                            //         display: grid;
                            //         width: 25px;
                            //         height: 25px;
                            //         place-content: center;
                            //         cursor: pointer;
                            //     }
                            //     input{
                            //         width: 60px;
                            //         text-align: center;
                            //         padding: 5px;
                            //         &::-webkit-outer-spin-button,
                            //         &::-webkit-inner-spin-button {
                            //             -moz-appearance: textfield;
                            //                -webkit-appearance: none;
                            //                 margin: 0;
                            //         }
                            //     }
                            // }
                            .quantite{
                                display: flex;
                                align-items: center;
                                .minus,.plus{
                                    font-size: 15;
                                    width: 25px;
                                    height: 35px;
                                    display: grid;
                                    place-content: center;
                                    cursor: pointer;
                                    color: #424242;
                                    user-select: none;
                                    outline: none;
                                    transition: opacity 0.3s;
                                    border: 1px solid #c9cccf;
                                    background: #f7f7f7;
                                    &:disabled{
                                        opacity: .5;
                                    }
                                }
                                .minus {
                                    border-radius: 5px 0 0 5px;
                                    border-right: none;
                                }
                                .plus {
                                    border-radius: 0 5px 5px 0;
                                    border-left: none;
                                }
                                input{
                                    border: 1px solid #c9cccf;
                                    height: 35px;
                                    color: #424242;
                                    font-size: 13px;
                                    width: 40px;
                                    text-align: center;
                                    background: #fff;
                                }
                            }
                            .price{
                                all: unset;
                                font-family: monospace;
                                font-size: 16px;
                                color: var(--main-color);
                                font-weight: 600;
                            }
                            .delete {
                                font-size: 25px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .order-summary{
            flex: 1;
        min-width: 290px;
            .content{
                .box{
                    margin: 20px 0;
                    .title{
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 13px;
                        color: var(--dark-color);
                    }
                    &.head,&.footer{
                        display: flex;
            justify-content: space-between;
            align-items: center;
                        .total{
                                font-family: monospace;
        font-weight: bold;
        color: var(--main-color);
        font-size: 16px;
                            span{
                                    text-transform: uppercase;
        color: initial;
        margin-left: 4px;
        font-size: 13px;
                            }
                        }
                    }

                    &.shipping{
                        // color: red;
                        select{
                            outline: none;
                                color: var(--dark-color);
        border: none;
        background: #f5f5f5;
        padding: 14px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 100%;
                            option{
                                // color: red;
                            }
                        }
                        span {
                            display: block;
                            font-style: italic;
                            &:not(:first-child) {
                                margin-top: 10px;
                            }
                        }
                        .amount-progress {
                            --percentage: 0%;
                            --color: var(--main-color);
                            width: 100%;
                            height: 15px;
                            background: #eee;
                            border-radius: 10px;
                            position: relative;
                            box-shadow: 0 0 0 3px #eee;
                            margin-bottom: 25px;
                            margin-top: 15px !important;
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                background: var(--color);
                                height: 100%;
                                border-radius: inherit;
                                width: var(--percentage);
                                background-image: linear-gradient(135deg, hsla(0, 0%, 100%, .15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15) 75%, transparent 0, transparent);
                                background-size: 30px 30px;
                                animation: progress-animate 3s linear infinite;
                                transition: all .3s;
                                @keyframes progress-animate {
                                    0% {
                                        background-position: 0 0;
                                    }
                                    100% {
                                        background-position: 60px 0;
                                    }
                                }
                            }
                            span {
                                background: var(--color);
                                color: #fff;
                                position: absolute;
                                left: var(--percentage);
                                transform: translateX(-50%);
                                top: 20px;
                                text-wrap: nowrap;
                                border-radius: 4px;
                                padding: 2px 4px;
                                font-size: 12px;
                                transition: all .3s;
                                &::after {
                                    content: "";
                                    border-width: 4px;
                                    border-style: solid;
                                    border-color: transparent transparent var(--color) transparent;
                                    position: absolute;
                                    left: 50%;
                                    top: -7px;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                    &.promo{
                        // color: red;
                        input{
                                color: var(--dark-color);
        border: none;
        background: #f5f5f5;
        padding: 14px;
        margin-top: 15px;
        border-radius: 5px;
        width: 100%;
                        }
                        .message {
                            color: #f85149;
                            font-size: 14px;
                            font-weight: 500;
                            margin-top: 10px;
                            &.success {
                                color: #3fb950;
                            }
                        }
                        .apply{
                                color: #fff;
        background: #ef4444;
        margin-top: 15px;
        display: inline-block;
        padding: 8px 20px;
        text-transform: uppercase;
        transition: background .3s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: fit-content;
        border: none;
        &:hover{
            background: #dc2626;
        }
        &:disabled {
            opacity: .8;
            cursor: no-drop;
        }
                        }
                    }
                }
                .total-footer{
                    border-top: 1px solid #eee;
                    margin: 15px 0;
                    padding-top: 15px;
                    .box-footer{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 15px;
                        .title{
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 13px;
                            color: var(--dark-color);
                        }
                        .total{
                            font-family: monospace;
                            font-weight: bold;
                            color: #1c9521;
                            font-size: 16px;
                            span{
                                text-transform: uppercase;
                                color: initial;
                                margin-left: 4px;
                                font-size: 13px;
                            }
                        }
                    }
                }
                .checkout{
                        color: #fff;
        // background: #01796F;
        
        background: var(--main-color);
        text-align: center;
        font-weight: 550;
        padding: 13px;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
        transition: background .3s;
                    &:hover{
                        background: #02675e;
                    }
                }
            }
        }
    }
}