.NewAttributes{
    .parent{
            display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
            > .SectionStructure {
        flex: 1;
    }

    .table-values{
        .color-box{
            width: 46px;
            height: 32px;
            border-radius: 4px;
            margin: auto;
            border: 1px solid;
        }
        .color-input {
            border: none;
            background: none;
            width: 50px;
            height: 40px;
            border-radius: 15px;
            overflow: hidden;
        }
        .name-input {
            max-width: 120px;
    padding: 8px;
    font-size: 15px;
    border: none;
    box-shadow: 0px 0px 5px #9797978f;
    border-radius: 6px;
        }
    }
    //     .add-parent{
    //             display: flex;
    // /* gap: 15px; */
    // flex-direction: column;
    // align-items: end;
    // .color-select{
    //         display: flex;
    // gap: 10px;
    // width: 100%;
    // margin-bottom: 10px;
    // align-items: center;
    // .InputBox{
    //     margin: 0;
    // }
    // input[type="color"]{
    //     all: unset;
    // width: 60px;
    // height: 50px;
    // }
    // }
    //     }
    //     .values{
    //             display: flex;
    // margin-top: 20px;
    // border-top: 2px solid #eee;
    // padding-top: 20px;
    // gap: 10px;
    // flex-wrap: wrap;
    //         li{
    //             padding: 6px 6px 6px 14px;
    //             border-radius: 8px;
    //             background: #e7e7e7;
    //             color: #222;
    //             font-weight: 600;
    //             display: flex;
    //             align-items: center;
    //             gap: 6px;
    //             .delete{
    //                 display: grid;
    //                 place-content: center;
    //                 /* background: #ff3a3a; */
    //                 /* color: #fff; */
    //                 border-radius: 50%;
    //                 cursor: pointer;
    //                 font-size: 22px;
    //             }
    //         }
    //     }
    }
}