.AccountAdminLayout{
    background-color: #f5f5f5;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 15px var(--pd);
        align-items: center;
        border-bottom: 2px solid #eee;
        background-color: #fff;
        .logo{
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            svg{
                width: 30px;
                height: auto;
            }
            h1{
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                color: var(--main-color);
            }
        }
        ul.navbar{
            display: flex;
            gap: 20px;
            li{
                color: red;
                a{
                    font-weight: bold;
                    color: var(--main-color);
                }
            }
        }
    }
    >.unique-content{
        min-height: calc(100vh - 150px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        .content-parent{
            background: #fff;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 6px 12px 60px rgba(0, 0, 0, 0.2);
            min-width: 450px;
            @media (max-width: 500px) {
                width: 88%;
                min-width: initial;
                padding: 30px;
            }
        }
    }
    .footer{
        // background: #f5f5f5;
        padding: var(--pd);
        color: #666;
        border-top: 2px solid #e3e2e2;
        text-align: center;
    }
}