.ClientProductDetails{
    margin-top: 60px;
    padding: 40px;
    padding: 15px;
    .parent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        margin: auto;
        max-width: 900px;
        .catalogue{
            flex: 1;
            min-width: 250px;
            .main-image{
                height: auto;
                border: 2px solid #eee;
                border-radius: 15px;
                padding: 10px;
                position: relative;
                max-height: 400px;
                display: grid;
                place-content: center;
                span.kanba{
                    width: 23px;
                    height: 15px;
                    border-radius: 50%;
                    border: 2px solid #7f7272;
                    transform: rotate3d(54, 40, 1, 140deg);
                    position: absolute;
                    left: -8px;
                    border-color: black black transparent black;
                    z-index: 1111;
                    top: -1px;
                }
                .promo{
                    
                animation: aaa 2s infinite ease-in-out forwards;
                    // position: absolute;
                    // top: 0;
                    // right: 0;
                    // background: red;
                    // color: #fff;
                    // font-weight: 600;
                    // width: 70px;
                    // height: 28px;
                    // display: grid;
                    // justify-content: center;
                    // align-items: center;
                    --main : #414141;
                    --main : #75815b;
                    --main : #dbc0a4;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: var(--main);
                    color: #222;
                    font-weight: 600;
                    width: 53px;
                    height: 34px;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(60deg);
                    transform-origin: -2px 17px;
                    border-radius: 0 5px 5px 0;
                    // animation: aaa 2s infinite ease-in-out forwards;
                    top: -4px;
                    left: 11px;
                    @keyframes aaa {
                        0%,100%{
                            transform: rotate(60deg);
                        }
                           50%{
                            transform: rotate(100deg);
                           }
                    }
                    // span{
                    //     width: 17px;
                    //     height: 22px;
                    //     border-radius: 50%;
                    //     border: 2px solid #7f7272;
                    //     transform: rotate3d(40, 18, 1, 137deg);
                    //     position: absolute;
                    //     left: -19px;
                    //     border-color: black black transparent black;
                    //     z-index: 1111;
                    //     top: 5px;
                    // }
                    &::before{
                        // content: "";
                        // position: absolute;
                        // top: 0;
                        // border-width: 14px;
                        // border-color: transparent transparent transparent white;
                        // border-style: solid;
                        // right: 43px;
                        content: "";
                        position: absolute;
                        top: 5px;
                        border-width: 12px;
                        // border-color: transparent red transparent transparent;
                        border-style: solid;
                        right: 53px;
                        border-radius: 0px;
                        border-color: transparent transparent var(--main) var(--main);
                        border-radius: 0px 0px 0px 15px;
                        transform: rotate(45deg);
                        left: -12px;
        
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        border: 4px solid #fff;
                        border-radius: 50%;
                        left: -6px;
                    }
                }
                img{
                    max-height: 380px;
                    transition: all .3s;
                    transform: translateY(0) scale(0);
                    width: 0;
                    height: 0;
                    &.active{
                        transform: inherit;
                        width: auto;
                        height: auto;
                    }
                }
            }
            .all-images{
                display: flex;
                // flex-wrap: wrap;
                overflow: auto;
                gap: 10px;
                margin-top: 15px;
                .box{
                    min-width: 90px;
                    width: 90px;
                    border: 2px solid #eee;
                    height: 90px;
                    display: grid;
                    place-content: center;
                    padding: 2px;
                    border-radius: 10px;
                    transition: all .3s;
                    &.active{
                        transform: scale(.85);
                        opacity: .65;
                        border-color: #ddd;
                    }
                    img{
                        max-height: 82px;
                        cursor: pointer;
                    }
                }
            }
        }
        .info{
            flex: 1;
            min-width: 250px;
            .category{
                color: #6b7280;
                text-transform: uppercase;
            }
            h1{
                color: var(--main-color);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
            }
            .price{
                // color: red;
                display: flex;
                gap: 10px;
                align-items: baseline;
                .salePrice,.originalPrice{
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--main-color);
                    text-wrap: nowrap;
                    span{
                        text-transform: uppercase;
                        font-size: 15px;
                    }
                }
                .originalPrice{
                    text-decoration: line-through;
                    color: #df8383;
                    font-size: 18px;
                    span{
                        font-size: inherit;
                        text-transform: uppercase;
                    }
                }
            }
            // .description{
            //     color: #4b5563;
            //     margin-top: 25px;
            //     display: none;
            // }
            .variants{
                // display: flex;
                // column-gap: 25px;
                // align-items: center;
                // flex-wrap: wrap;
                .variant{
                    // display: flex;
                    // gap: 12px;
                    // align-items: center;
                    // margin-top: 25px;
                    // flex: 1;
                    // // flex-wrap: wrap;
                    // min-width: 200px;
                    display: block;
                    gap: 12px;
                    align-items: center;
                    margin-top: 25px;
                    flex: 1 1;
                    min-width: 200px;
                    background: #f5f5f5;
                    border-radius: 5px;
                    padding: 10px 15px;
                    .parent-variants{
                        display: flex;
                        gap: 10px;
                        margin: 15px 0 10px 15px;
                        flex-wrap: wrap;
                        span{
                            cursor: pointer;
                        }
                    }
                    .name{
                        color: var(--main-color);
    font-weight: 500;
                    }
                    &.colorSpans{
    //                       display: block;
    // gap: 12px;
    // align-items: center;
    // margin-top: 25px;
    // flex: 1 1;
    // min-width: 200px;
    // background: #f5f5f5;
    // border-radius: 5px;
    // padding: 10px 15px;
                        .parent-variants{
                            // display: flex;
                            // gap: 10px;
                            // margin: 15px 0 10px 15px;
                            span{
                                // width: 25px;
                                // height: 25px;
                                // background: #374151;
                                // border-radius: 50%;
                                // border: 2px solid #d1d5db;
                                min-width: 28px;
                                padding: 0 3px;
                                height: 28px;
                                background: #374151;
                                border-radius: 50%;
                                border: 2px solid #d1d5db;
                                display: block;
                                &.active{
                                    
                                box-shadow: inset 0px 0px 0px 3px #fff;
                                border: 3px dotted #fff;
                                }
                            }
                        }
                    }
                    &.checkBox{
                        // color: red;
                        .parent-variants{
                            span{
                                border: 2px solid #999;
                                min-width: 28px;
                                padding: 0 3px;
    height: 28px;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: var(--main-color);
                                &.active{
                                    color: #fff;
                                    border-color: var(--main-color);
                                    background: var(--main-color);
                                }
                            }
                        }
                        .SelectBox{
                            margin: 0;
                        }
                        select{
                            width: 100px;
    text-transform: uppercase;
                            option{
                                // color: red;
                            }
                        }
                    }
                    &.quantite{
                        // .controller{
                        //     // margin: auto;
                        //     display: flex;
                        //     align-items: center;
                        //     gap: 10px;
                        //     .minus,.plus{
                        //         background: var(--second-color);
                        //         width: 40px;
                        //         height: 40px;
                        //         display: grid;
                        //         place-content: center;
                        //         border-radius: 5px;
                        //     }
                        //     input{
                        //         all: unset;
                        //         border: 1px solid #c9cccf;
                        //         padding: 10px;
                        //         color: #222;
                        //         border-radius: 5px;
                        //         font-size: 15px;
                        //         width: 50px;
                        //         text-align: center;
                        //     }
                        // }
                    }
                }
                .controller{
                    // margin: auto;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: auto;
                    margin-top: 25px;
                    width: 100%;
                    max-width: 80%;
                    .minus,.plus{
                        background: var(--second-color);
                        width: 40px;
                        height: 40px;
                        display: grid;
                        place-content: center;
                        border-radius: 5px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        user-select: none;
                        border: none;
                        outline:none;
                        transition: opacity .3s;
                        &:disabled{
                            opacity: .5;
                        }
                    }
                    input{
                        all: unset;
                        border: 1px solid #c9cccf;
                        padding: 10px;
                        color: #222;
                        border-radius: 5px;
                        font-size: 15px;
                        width: 50px;
                        text-align: center;
                        flex: 2;
                    }
                }
            }
            .footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 2px solid #eee;
                margin-top: 25px;
                padding-top: 25px;
                gap: 14px;
                // flex-wrap: wrap;
                // .price{
                //     // color: red;
                //     display: flex;
                //     gap: 10px;
                //     align-items: baseline;
                //     .salePrice,.originalPrice{
                //         font-weight: 700;
                //         font-size: 20px;
                //         color: var(--main-color);
                //         text-wrap: nowrap;
                //         span{
                //             text-transform: uppercase;
                //             font-size: 15px;
                //         }
                //     }
                //     .originalPrice{
                //         text-decoration: line-through;
                //         color: #df8383;
                //         font-size: 18px;
                //         span{
                //             font-size: inherit;
                //             text-transform: uppercase;
                //         }
                //     }
                // }
                .btns{
                    display: flex;
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
                    .buy, .add-to-card{
                        text-wrap: nowrap;
                        border: 2px solid var(--main);
                        padding: 10px 18px;
                        background: var(--main);
                        border-radius: 5px;
                        color: #fff;
                        font-weight: 500;
                        --main: #01796F;
                        cursor: pointer;
                    }
                    .buy{
                    }
                    .add-to-card{
                        --main: var(--second-color);
                    }
                }
                .favorate{
                    color: var(--main-color);
                    background: #ddd;
                    display: grid;
                    place-content: center;
                    border-radius: 50%;
                    padding: 8px;
                    font-size: 28px;
                    svg{
                        // color: red;
                    }
                }
            }
            .parent-description{
                h5{
                    color: #4b5563;
                    margin-top: 25px;
                    border-top: 2px solid #eee;
                    padding-top: 25px;
                }
                .description{
                    margin-top: 10px;
                }
                // display: none;
            }
        }
    }
}