.CercleLoading{
    width: 100%;
    padding: 50px 0;
    display: grid;
    place-content: center;
    &.btn{
        padding: 0;
        .cercle{
            width: 20px !important;
            height: 20px !important;
            border-color: #fff;
            border-width: 3px;
        }
    }
    &.l{
        padding: 0;
        .cercle{
            width: 20px !important;
            height: 20px !important;;
            border-width: 2px;
        }
    }
    .cercle{
        border: 4px solid #4f4f4f;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border-right-color: transparent !important;
        animation: loadingCircle .4s infinite linear;
        @keyframes loadingCircle {
            0%{
                transform: rotate(0deg);
                opacity:.6
            }
            100%{
                transform:rotate(360deg) ;
                opacity:1
            }
        }
    }
}