.ProductDetails{
    margin-top: 60px;
    > .empty-cart{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 90px 0;
        .title{
            font-size: 60px;
            color: #4a4141;
        }
        .message{
            font-size: 20px;
            color: #4a4141;
            margin-bottom: 20px;
        }
    }
    .parent{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        margin: auto;
        max-width: 90%;
        .catalogue{
            flex: 6;
            min-width: 250px;
            .main-image{
                border-radius: 15px;
                position: relative;
                height: 40vw;
                width: fit-content;
                margin: auto;
                display: grid;
                place-content: center;
                .promo{
                    // --main: #1E88E5;
                    --main: var(--main-color);
                    position: absolute;
                    background: var(--main);
                    font-weight: 600;
                    display: grid;
                    place-content: center;
                    top: 0px;
                    right: 0px;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    color: #fff;
                    z-index: 1;
                    font-size: 16px;
                }
                img{
                    max-height: 40vw;
                    transition: all 0.3s;
                    transform: translateY(0) scale(0);
                    width: 0;
                    height: 0;
                    &.active{
                        transform: inherit;
                        max-width: 40vw;
                        height: auto;
                        width: auto;
                    }
                }
            }
            .all-images{
                display: flex;
                flex-wrap: wrap;
                overflow: auto;
                gap: 10px;
                margin-top: 25px;
                .box{
                    width: 100px;
                    height: 100px;
                    display: grid;
                    place-content: center;
                    padding: 2px;
                    border-radius: 10px;
                    transition: all 0.3s;
                    &.active{
                        transform: scale(.85);
                        opacity: .65;
                        border-color: #ddd;
                    }
                    img{
                        max-height: 100px;
                        cursor: pointer;
                    }
                }
            }
        }
        .info{
            flex: 4;
            min-width: 250px;
            .category{
                color: #6b7280;
                text-transform: uppercase;
                font-size: 22px;
    margin-bottom: 20px;
            }
            h1{
                color: var(--dark-color);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: capitalize;
            }
            .price{
                // color: red;
                display: flex;
                gap: 10px;
                align-items: baseline;
                .salePrice,.originalPrice{
                    font-weight: 700;
                    font-size: 20px;
                    color: var(--dark-color);
                    text-wrap: nowrap;
                    span{
                        text-transform: uppercase;
                        font-size: 15px;
                    }
                }
                .originalPrice{
                    text-decoration: line-through;
                    color: #df8383;
                    font-size: 18px;
                    span{
                        font-size: inherit;
                        text-transform: uppercase;
                    }
                }
            }
            // .description{
            //     color: #4b5563;
            //     margin-top: 25px;
            //     display: none;
            // }
            .variants{
                // display: flex;
                // column-gap: 25px;
                // align-items: center;
                // flex-wrap: wrap;
                .variant{
                    // display: flex;
                    // gap: 12px;
                    // align-items: center;
                    // margin-top: 25px;
                    // flex: 1;
                    // // flex-wrap: wrap;
                    // min-width: 200px;
                    display: block;
                    gap: 12px;
                    align-items: center;
                    // margin-top: 25px;
                    flex: 1 1;
                    min-width: 200px;
                    // background: #f5f5f5;
                    border-radius: 5px;
                    margin: 25px 0px;
                    .parent-variants{
                        display: flex;
                        gap: 10px;
                        margin: 15px 0 10px 25px;
                        flex-wrap: wrap;
                        span{
                            cursor: pointer;
                        }
                    }
                    .name{
                        color: var(--dark-color);
                        font-weight: 600;
                        font-size: 18px;
                    }
                    &.colorSpans{
                        .parent-variants{
                            span{
                                width: 28px;
                                height: 28px;
                                background: #374151;
                                border-radius: 50%;
                                border: 1px solid #d1d5db;
                                position: relative;
                                &::before {
                                    content: "";
                                    border-radius: 4px;
                                    width: 0;
                                    position: absolute;
                                    left: 0;
                                    bottom: -8px;
                                    height: 3px;
                                    background: #424242;
                                    transition: all 0.3s;
                                }
                                &.active{
                                    &::before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    &.checkBox{
                        // color: red;
                        .parent-variants{
                            span{
                                // border: 1px solid #999;
                                // min-width: 28px;
                                // padding: 6px 10px;
                                // display: grid;
                                // align-items: center;
                                // text-align: center;
                                // border-radius: 5px;
                                // color: var(--dark-color);
                                // transition: all 0.3s;
                                // font-size: 18px;
                                border: 1px solid #b1b1b1;
                                min-width: 25px;
                                padding: 6px 10px;
                                display: grid;
                                align-items: center;
                                text-align: center;
                                border-radius: 5px;
                                transition: all 0.3s;
                                font-size: 15px;
                                transform: scale(.98);
                                &.active{
                                    // color: #fff;
                                    // // --main: #1E88E5;
                                    // --main: var(--main-color);
                                    // border-color: var(--main);
                                    // background: var(--main);
                                    color: #424242;
                                    --main: #f1f1f1;
                                    border-color: #f1f1f1;
                                    background: var(--main);
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .SelectBox{
                            margin: 0;
                        }
                        select{
                            width: 100px;
    text-transform: uppercase;
                            option{
                                // color: red;
                            }
                        }
                    }
                    &.dropDown {
                        .SelectBox {
                            padding: 0;
                            max-width: 230px;
                        }
                    }
                }
                .controller{
                    // // margin: auto;
                    // display: flex;
                    // align-items: center;
                    // gap: 10px;
                    // // margin: auto;
                    // margin: 15px 0 10px 25px;
                    // width: 100%;
                    // max-width: 80%;
                    // // justify-content: center;
                    display: flex;
                    align-items: center;
                    margin: 15px 0 10px 25px;
                    .minus,.plus{
                        // background: var(--second-color);
                        // font-size: 20px;
                        // color: #333;
                        // width: 40px;
                        // height: 40px;
                        // display: grid;
                        // place-content: center;
                        // border-radius: 5px;
                        // cursor: pointer;
                        // color: #fff;
                        // -webkit-user-select: none;
                        // user-select: none;
                        // border: none;
                        // outline:none;
                        // transition: opacity .3s;
                        font-size: 20px;
                        width: 40px;
                        height: 40px;
                        display: grid;
                        place-content: center;
                        cursor: pointer;
                        color: #424242;
                        user-select: none;
                        outline: none;
                        transition: opacity 0.3s;
                        border: 1px solid #c9cccf;
                        background: #f7f7f7;
                        &:disabled{
                            opacity: .5;
                        }
                    }
                    .minus {
                        border-radius: 5px 0 0 5px;
                        border-right: none;
                    }
                    .plus {
                        border-radius: 0 5px 5px 0;
                        border-left: none;
                    }
                    input{
                        // all: unset;
                        // border: 1px solid #c9cccf;
                        // height: 40px;
                        // color: #222;
                        // border-radius: 5px;
                        // font-size: 15px;
                        // width: 130px;
                        // text-align: center;
                        border: 1px solid #c9cccf;
                        height: 40px;
                        color: #424242;
                        font-size: 15px;
                        width: 80px;
                        text-align: center;
                        background: #fff;
                    }
                }
            }
            .footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #1010101A;
                margin-top: 25px;
                padding-top: 25px;
                gap: 14px;
                .btns{
                    display: flex;
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .btns-container {
        display: flex;
        gap: 15px;
        align-items: center;
        flex: 1;
        justify-content: space-between;
    }
                    .buy, .add-to-card{
                        text-wrap: nowrap;
                        border: 2px solid var(--main);
                        padding: 12px 18px;
                        background: var(--main);
                        border-radius: 5px;
                        color: #fff;
                        font-weight: 500;
                        --main: var(--main-color);
                        cursor: pointer;
                        text-transform: uppercase;
                        text-align: center;
                        flex: 1;
                        @media (min-width: 1080px) {
                            flex: none;
                        }
                    }
                    // .buy{
                    // }
                    // .add-to-card{
                    //     --main: var(--second-color);
                    //     // color: #333;
                    // }
                }
                .favorate{
                    // color: var(--dark-color);
                    // background: #ddd;
                    // display: grid;
                    // place-content: center;
                    // border-radius: 50%;
                    // padding: 8px;
                    // font-size: 28px;
                    color: var(--dark-color);
    /* background: #ddd; */
    display: grid;
    place-content: center;
    /* border-radius: 50%; */
    /* padding: 8px; */
    font-size: 28px;
                    svg{
                       cursor: pointer;
                       &.active {
                        color: #ef4444;
                       }
                    }
                }
            }
            // description #########
        }
    }
    .product-details-section{
        padding: 25px;
        border-top: 1px solid #1010101a;
        margin-top: 25px;
        h5{
            color: #414141;
            font-size: 20px;
            margin-bottom: 15px;
        }
        &.reviews-section {
            .review-title {
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }

}