body {
    margin: 0;
    font-family: "Hanken Grotesk", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #212529;
    font-size: 14px;

}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input{
  outline: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}

.link {
    color: #156cc1;
    display: inline-block;
    cursor: pointer;
}
:root{
  --bg: #f7f7f7;
  --main-color:  #29a5a7;
  --dark-color: #414141;
  --second-color: #0d2c47;
  --main-bg: #e8f0fe;
  --danger-color: #df2626;
  --success-color: #26df26;
  --blue-color: #0f5dd7;
  --pd: 20px
}

.pending{
  --status-color: #20a4f3
}
.confirmed{
  --status-color: #2ec4b6
}
.shipped{
  --status-color: #ffe66d
}
.delivered{
  --status-color: #F653A6
}
.cancelled{
  --status-color: #EE204E
}
.on_hold{
  --status-color: #BEBFC5
}
.delayed{
  --status-color: #FF7538
}
.returned{
  --status-color: #9966CC
}

// table
.table-container {
  overflow: auto;
    border-radius: 8px;
    table{
      width: 100%;
      text-align: center; 
      border-collapse: collapse;
      thead{
          background: var(--bg);
          // font-size: 15px;
        font-weight: 700;
          // background-color: #e5e5e53d;
      }
      tbody{
        tr{
          // border-top: 1px solid #e5e5e5;
        }
      }
      tr{
          // border: 1px solid #dddddd;
          // border-left: none;
          // border-right: none;
          &:nth-child(even) {background-color: var(--bg);}
      }
      th{
          opacity: 1;
      }
      td{
          height: 65px;
          padding: 10px 15px;
          text-wrap: nowrap;
          color: #555;
          text-transform: capitalize;
          // input[type="checkbox"]{
          //     display: none;
          //     & + label{
          //         width: 22px;
          //         height: 22px;
          //         display: block;
          //         border: 2px solid #aaa;
          //         border-radius: 4px;
          //         cursor: pointer;
          //         color: transparent;
          //         transition: all .3s;
          //         transform: rotate(-90deg);
          //     }
          //     &:checked{
          //         & + label{
          //         background-color: #2196f3;
          //         color: #fff;
          //         font-weight: bold;
          //         border-color: #2196f3;
          //         font-size: 16px;
          //         opacity: 1;
          //         transform: rotate(0);
          //         }
          //     }
          // }
          .product-name{
              display: flex;
              align-items: center;
              gap: 10px;
              color: inherit;
              .img{
                  width: 50px;
                  height: 50px;
                  display: grid;
                  place-content: center;
                  img{
                      max-width: 100%;
                      max-height: 50px;
                  }
              }
              h4{
                  font-weight: 600;
                  text-transform: capitalize;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  max-width: 160px;
              }
              .info{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h4{
                  margin-bottom: 5px;
                  color: #222;
                }
                .variant{
                  font-size: 13px;
                  span{
                    font-weight: bold;
                  }
                }
              }
          }
          .price{
              font-family: monospace;
              font-weight: bold;
              color: #1c9521;
              font-size: 16px;
              &.danger{
                  // color: indianred;
              }
              span{
                  text-transform: uppercase;
                  color: initial;
                  margin-left: 4px;
                  font-size: 11px;
              }
          }
          .status{
            &.inStock{
                --main-cl:#10b981;
                --bg-cl: #10b98138;
            }
            &.outOfStock{
                --main-cl:#ef4444;
                --bg-cl: #ef444438;
            }
            &.limited{
                --main-cl:#f5a03a;
                --bg-cl: #f5a03a38;
            }
              // display: flex;
              // justify-content: center;
              // align-items: baseline;
              // gap: 10px;
              // 
              color: var(--main-cl);
              font-weight: 600;
              background: var(--bg-cl);
              padding: 5px 10px;
              border-radius: 4px;
              font-size: 14px;
              width: min-content;
              margin: auto;
              // .circle{
              //     width: 10px;
              //     height: 10px;
              //     background: var(--main-cl);
              //     border-radius: 50%;
              // }
              .status-name{
                  color: var(--main-cl);
                  font-weight: 600;
              }
          }
          .view{
              font-size: 23px;
              cursor: pointer;
              opacity: .9;
          }
          .published{
              // background: #ef4444;
              width: 50px;
              height: 20px;
              border-radius: 20px;
              position: relative;
              cursor: pointer;
              margin: auto;
              &:hover{
                  opacity: .8;
              }
              &.checked{
                  background: #10b981;
                  .btnForClick{
                      left: 31px;
                      right: 1px;
                  }
              }
              &.notChecked{
                background: #ef4444;
                  .btnForClick{
                    left: 1px;
                    right: 31px;
                  }
              }
              .btnForClick{
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  position: absolute;
                  left: 1px;
                  top: 1px;
                  background: #fff;
                  transition: all .3s;
                  border: 2px solid #fff;
                  &.loading{
                    background: none;
                    border-left-color: transparent;
                    animation: loadingCheck .4s infinite linear;
                    @keyframes loadingCheck {
                        0%{
                            transform: rotate(0deg);
                        }
                        100%{
                            transform:rotate(360deg);
                        }
                    }
                  }
              }
          }
          .actions{
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              font-size: 20px;
              svg {
                cursor: pointer;
              }
              a,div{
                color: inherit;
              }
              // a{
              //   color: inherit;
              // }
              div{
                  cursor: pointer;
              }
              // .edit{
              //     color: var(--primary-color);
              // }
              // .delete{
              //     color: var(--danger-color);
              // }
          }
          // .select{
          //   &.pending{
          //     --cl:#10b981;
          //   }
          //   select{
          //     color: var(--cl) ;
          //     border: 2px solid;
          //     border-radius: 20px;
          //     padding: 6px 11px;
          //     font-weight: bold;
          //     outline: none;
          //     option{
          //       color: #333;
          //       font-weight: bold;
          //     }
          //   }
          // }
          .input{
            input{
              width: 70px;
        padding: 5px 10px;
        border: 2px solid #ddd;
        outline: none;
        border-radius: 5px;
        background: #eee;
        color: #222;
        &:disabled{
          background-color: #ddd;
          opacity: .7;
        }
            }
          }
      }
    }
}
.actions-head{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: end;
  flex-wrap: wrap;
  @media (max-width:500px) {
    justify-content: space-between;
  }
  button{
    select{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1111111111111111111111;
      opacity: 0;
      cursor: pointer;
      option{
        color: #626161;
        font-size: 15px;
        text-align: center;
      }
    }
    &:disabled{
      select{
        cursor: no-drop;
      }
    }
  }
}