.PageStructure{
    min-height: calc(100vh - 72px);
    // background: #f5f5f5;
    background: #f5f5f578;
    padding: var(--pd) calc(var(--pd)*2);
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--pd);
        flex-wrap: wrap;
        gap: var(--pd);
        h1{
            text-transform: capitalize;
            font-size: 23px;
            color: #222;
        }
    }
}