.AddNewCategories{
    .parent{
            display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
            > .SectionStructure {
        flex: 1;
    }
    .image-and-icon{
        .image_show{
border: 2px dashed #555;
    height: 125px;
    margin-bottom: 20px;
    min-width: 200px;
    display: grid;
    place-content: center;
    overflow: hidden;
    &.no-border{
        border: none
    }
            img{
                max-width: 100%;
                max-height: 125px;
            }
        }
        .controlles{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
            label{
    flex: 1;
    cursor: pointer;
                input{
                    display: none;
                }
            }
        }
    }
    }
}